
# ---------------------------
# Node / Backend
# ---------------------------
backend/node_modules/
# ignore image
backend/uploads/


# ---------------------------
# React / Frontend
# ---------------------------
frontend/node_modules/
frontend/src/images/


